@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

body {
  background-color: black;
}
.zoom-in {
  animation: zoom 12s infinite alternate;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}

/* title animate-- */
.fade-in {
  opacity: 0;
  transform: translateY(-150px);
  animation: fadeIn 3s forwards;
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
